body{
    font-family: 'Roboto Condensed', sans-serif;    
}

.ajuste{
    padding: .5rem 1rem;
}

.bg-lilas{
    background-color: rgb(237, 226, 255);
}

h1{
    font-size: 32px;
    font-weight: 200;
}